<%= form_with(model: @competition, local: true) do |form| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>
      <ul>
        <% @competition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
